@charset "UTF-8";
#insert-body {
    display: inline-block;
    border: 1px solid red;
    width: 60%;
    text-align: center;
}

#insert-body insert {
    height: auto; /* 높이 초기화 */
    line-height: normal; /* line-height 초기화 */
    font-family: inherit; /* 폰트 상속 */
    padding: .8em .5em; /* 여백과 높이 결정 */
}

#insert-body h3 {
    position: absolute;
    top: 1px; /* 위치정렬 */
    left: 5px; /* 위치정렬 */
    padding: .8em .5em; /* select의 여백 크기 만큼 */
    color: #999;
    z-index: -1; /* IE8에서 label이 위치한 곳이 클릭되지 않는 것 해결 */
}
