<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.biz.iolist.persistence.ProductDAO">
 	
 	<select id="selectAll" resultType="ProVO">
 		SELECT * FROM tbl_iolist ORDER by io_date, io_time
 	</select>
 	
 	<select id="findBySeq" resultType="ProVO">
 		SELECT * FROM tbl_iolist WHERE io_seq = #{io_seq}
 	</select>
 	
 	<insert id="insert">
 		INSERT INTO tbl_iolist (	
		 	io_seq,
			io_pname,
			io_date,
			io_time,
			io_input,
			io_price,
			io_quan,
			io_total	
				 	
		) VALUES (
			
			seq_iolist.NEXTVAL,
			#{io_pname},
			#{io_date},
			#{io_time},
			#{io_input},
			#{io_price},
			#{io_quan},
			#{io_total}
	)
 	</insert>
	<update id="update" parameterType="ProVO">
	    UPDATE tbl_iolist SET
	        io_date =	#{io_date},
	        io_time =	#{io_time},
	        io_pname =	#{io_pname},
	        io_input =	#{io_input},
	        io_price =	#{io_price},
	        io_quan  =	#{io_quan},
	        io_total =	#{io_total}
	    WHERE io_seq =  #{io_seq}
	</update>
 	
 	
 	<delete id="delete">
 		DELETE FROM tbl_iolist
        WHERE io_seq = #{seq}
 	</delete>
 
 </mapper> 